$primary-color-borders:  #7D1935;

$primary-color-dark: #4b000f;

$primary-color-light: #b04a5e;

$white: #FFFFFF;

$background: #cfd8dc;

$secondary-color-dark: #E1E2E1;

$primary-color-mouse-on: #FAFAFB;

$secondary-color-background: #FAFAFB;

$dark-accent-color:    #060606;
