<md-card class="">
  <md-card-header>
    <md-card-title-group>
      Login
    </md-card-title-group>
    <md-card-subtitle>
      Input data
    </md-card-subtitle>
  </md-card-header>

  <md-card-content>
    <!--<form class="form-group">-->
      <md-input-container>
        <input mdInput [(ngModel)]="user.eMailAdress" name="eMail" type="email" required
               placeholder="Email Address">
      </md-input-container>
      <md-input-container>
        <input mdInput [(ngModel)]="user.password" name="password" type="password" required
               placeholder="Password">
      </md-input-container>>

    <button class="btn btn-primary" (click)="login()">Login</button>
  </md-card-content>

</md-card>
